<div class="container pt-3">
    <div class="d-block">
        <h3 class="d-inline">{{course.name}}</h3>
    </div>
    <hr>
    <div>
        <h5>{{course.description}}</h5>
    </div>
    <div class="d-block">
        <h5 class="d-block">Tutors</h5>
        <div class="d-inline-block w-100">
            <div class="col-sm-6 float-left w-25" *ngFor="let tutor of course.tutors">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{tutor.firstName}} {{tutor.lastName}}</h5>
                        <h6>Schedule</h6>
                        <p *ngFor="let schedule of tutor.schedule">{{schedule.day}} {{schedule.time}}</p>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>

