<div class="row pt-3 ">
    <div class="col-3">
        <div class="d-block">
            <h4 class="d-inline">Courses</h4>
        </div>
        <hr>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let course of courses">
                <div class="d-block">
                    <h6 class="d-inline"><a href="courses/{{course.id}}">{{course.name}}</a></h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>
