<div class="jumbotron intro-heading">
    <h1 class="display-4">Welcome to the CS Tutoring Center!</h1>
    <p class="lead">{{ content }}</p>
    <hr class="my-4">
    <p>Computer science is the systematic exploration of all aspects of computation. </p>
</div>
<div class="container">
    <p>The Department of Computer Science offers free tutoring for the following core 1000-, 2000-, and 3000-level courses: <br><br>

            CSC 1301 (Principles of Computer Science I)<br>
            CSC 1302 (Principles of Computer Science II)<br>
            CSC 2510 (Theoretical Foundations of Computer Science)<br>
            CSC 2720 (Data Structures)<br>
            CSC 3210 (Computer Organization and Programming)<br>
            CSC 3320 (System-Level Programming)<br><br>
            
            Tutoring is free and available to all students enrolled in these courses.<br>
            
            Where: CS Tutoring Center (Sports Arena, Rooms 113, 114, and 116)<br>
            When: Monday–Friday  10 am–5 pm<br><br>
            
            The center will be open throughout the semester except for university holidays.</p>
</div>
